[Settings]
AllowSetConflicts=1

[Hotkeys]
# Competitive PROTOSS race hotkeys for ladder/tournament play
# Based on current StarCraft 2 multiplayer meta

AdeptHallucination/Sentry=
AdeptPhaseShift/Adept=
AdeptResearchPiercingUpgrade/TwilightCouncil=
AnionPulseCrystals/FleetBeacon=
ArchonHallucination/Sentry=
Assimilator/Probe=
BatteryOvercharge/Nexus=
Blink/Stalker=
Blink/SuperWarpGate=
BrokenSolarForge/SolarForge=
BurrowChargeCampaign/Ultralisk=
Carrier/Stargate=
Carrier/StargateWarp=
Carrier/SuperWarpGate=
Charge/Zealot=
ChronoBoostEnergyCost/Nexus=
Colossus/RoboticsFacility=
Colossus/RoboticsFacilityWarp=
Colossus/SuperWarpGate=
ColossusHallucination/Sentry=
CyberneticsCore/Probe=
DarkArchon/Gateway=
DarkArchon/WarpGate=
DarkArchonConfusion/DarkArchon=
DarkArchonMindControl/DarkArchon=
DarkPylonRecall/DarkPylon=
DarkShrine/Probe=
DarkTemplar=
DarkTemplarBlink/DarkTemplar=
DisruptorHallucination/Sentry=
EnergyRecharge/Nexus=
EvolveBurrowCharge/UltraliskCavern=
Feedback/Archon=
Feedback/HighTemplar=
FleetBeacon/Probe=
ForceField/Sentry=
Forge/Probe=
Gateway/Probe=
GravitonBeam/Phoenix=
Hallucination/Sentry=
HighTemplar=
HighTemplarHallucination/Sentry=
Immortal/RoboticsFacility=
Immortal/RoboticsFacilityWarp=
Immortal/SuperWarpGate=
ImmortalHallucination/Sentry=
ImmortalOverload/Immortal=
Interceptor/Carrier=
KhaydarinMonolith/Probe=
LightningBomb/Tempest=
MassRecall/Mothership=
MorphBackToGateway/WarpGate=
MorphBackToRoboticsFacility/RoboticsFacilityWarp=
MorphBackToStargate/StargateWarp=
MorphToMothership/MothershipCore=
MorphtoObserver/Observer=
MorphtoObserverSiege/Observer=
Mothership/Nexus=
MothershipCoreMassRecall/MothershipCore=
MothershipCoreWeapon/MothershipCore=
MothershipMassRecall/Mothership=
Nexus/Probe=
NexusMassRecall/Nexus=
Observer/RoboticsFacility=
Observer/RoboticsFacilityWarp=
Oracle/Stargate=
Oracle/StargateWarp=
OracleAttack=
OracleBuildStasisTrap/Oracle=
OracleHallucination/Sentry=
OracleRevelation/Oracle=
OracleWeaponOff/Oracle=
OracleWeaponOn/Oracle=
PhasingMode/WarpPrism=
Phoenix/Stargate=
Phoenix/StargateWarp=
Phoenix/SuperWarpGate=
PhoenixHallucination/Sentry=
PhotonCannon/Probe=
Probe/Nexus=
ProbeHallucination/Sentry=
ProtossAirArmorLevel1/CyberneticsCore=
ProtossAirWeaponsLevel1/CyberneticsCore=
ProtossBuild/Probe=
ProtossBuildAdvanced/Probe=
ProtossGroundArmorLevel1/Forge=
ProtossGroundWeaponsLevel1/Forge=
ProtossShieldsLevel1/Forge=
PsiStorm/Archon=
PsiStorm/HighTemplar=
Pylon/Probe=
RepairDrones/Carrier=
ResearchCharge/TwilightCouncil=
ResearchDarkArchonFullStartingEnergy/DarkShrine=
ResearchDarkArchonMindControl/DarkShrine=
ResearchDarkTemplarBlink/DarkShrine=
ResearchDoubleGravitonBeam/FleetBeacon=
ResearchDragoonChassis/TwilightCouncil=
ResearchDragoonRange/TwilightCouncil=
ResearchExtendedThermalLance/RoboticsBay=
ResearchGraviticBooster/RoboticsBay=
ResearchGraviticDrive/RoboticsBay=
ResearchHealingPsionicStorm/TemplarArchive=
ResearchHighTemplarEnergyUpgrade/TemplarArchive=
ResearchInterceptorLaunchSpeedUpgrade/FleetBeacon=
ResearchOracleStasisWardUpgrade/FleetBeacon=
ResearchPsiStorm/TemplarArchive=
ResearchShadowDash/DarkShrine=
ResearchShadowFury/DarkShrine=
ResearchSolarEfficiencyLevel1/SolarForge=
ResearchStalkerTeleport/TwilightCouncil=
ResearchStructureBarrier/Forge=
ResearchTempestDisintegration/FleetBeacon=
ResearchWarpGate/CyberneticsCore=
ResearchWhirlwind/TwilightCouncil=
RoboticsBay/Probe=
RoboticsFacility/Probe=
Sentry=
ShieldBattery/Probe=
ShieldBatteryRecharge/ShieldBattery=
ShieldBatteryStructureBarrier/ShieldBattery=
Stalker=
StalkerHallucination/Sentry=
Stargate/Probe=
Summon2ScoutHallucinations/Sentry=
Tempest/Stargate=
TempestResearchGroundAttackUpgrade/FleetBeacon=
TemplarArchive/Probe=
TemporalField/Mothership=
TemporalField/MothershipCore=
TimeWarp/Nexus=
TransportMode/WarpPrism=
TwilightCouncil/Probe=
UpgradeToRoboticsFacilityWarp/RoboticsFacility=
UpgradeToStargateWarp/Stargate=
UpgradeToWarpGate/Gateway=
WarpInAdept/Gateway=
WarpInAdept/WarpGate=
WarpInScout/Stargate=
WarpInScout/SuperWarpGate=
WarpPrism/RoboticsFacility=
WarpPrismHallucination/Sentry=
WarpinDisruptor/RoboticsFacility=
Zealot=
ZealotHallucination/Sentry=
