[Settings]
AllowSetConflicts=1

[Hotkeys]
# Competitive TERRAN race hotkeys for ladder/tournament play
# Based on current StarCraft 2 multiplayer meta

250mmStrikeCannons/Thor=
AdvancedConstructionAuto/SCV=
Armory/SCV=
AutoTurret/Raven=
AutomatedRefinery/SCV=
Banshee/Starport=
BansheeSpeed/StarportTechLab=
Barracks/SCV=
Battlecruiser/Starport=
BuildCyclone/Factory=
BuildHercules/Starport=
BuildKelMorianRocketTurret/SCV=
BuildScienceVessel/Starport=
BuildTechLabFactory/FactoryFlying=
BuildTechLabStarport/StarportFlying=
Bunker/SCV=
BunkerLoad=
BunkerUnloadAll=
CalldownMULE/OrbitalCommand=
CampaignVehicles/Starport=
ChannelSnipe/Ghost=
CloakOff=
CloakOnBanshee=
CommandCenter/SCV=
CommandCenterLoad=
CommandCenterOrbRelay/SCV=
CommandCenterUnloadAll=
CycloneResearchLockOnDamageUpgrade/FactoryTechLab=
EMP/Ghost=
EngineeringBay/SCV=
Factory/SCV=
Firebat/Barracks=
FusionCore/SCV=
Ghost/Barracks=
GhostAcademy/SCV=
GhostHoldFire/Ghost=
Heal/Medivac=
HellfireThrusters/StarportTechLab=
Hellion/Factory=
HellionTank/Factory=
HireDevilDogs/Barracks=
HireHammerSecurities/Barracks=
HireHelsAngels/Starport=
HireKelmorianMiners/Barracks=
HireSiegeBreakers/Factory=
HireSpartanCompany/Factory=
HiveMindEmulator/SCV=
Hyperjump/Battlecruiser=
IgniteAfterburner/Medivac=
IgniteAfterburners/Banshee=
IgniteAfterburners/Battlecruiser=
IgniteAfterburners/SiegeTank=
IgniteAfterburners/VikingAssault=
InstantHunterSeekerMissile/Raven=
KD8Charge/Reaper=
Land=
Liberator/Starport=
LiberatorAAMode/Liberator=
LiberatorAGMode/Liberator=
Lift=
LockOn/Cyclone=
Lower/SupplyDepot=
Marauder/Barracks=
Marine/Barracks=
Medic/Barracks=
Medivac/Starport=
MedivacSpeedBoost/Medivac=
MercCompound/SCV=
MercHellion/Factory=
MercMedic/Barracks=
MercReaper/Barracks=
MicroBot/Factory=
MissileTurret/SCV=
MorphToHellion/Hellion=
MorphToHellionTank/Hellion=
NukeArm/GhostAcademy=
NukeCalldown/Ghost=
OrbitalCommand/CommandCenter=
OrbitalCommandCalldownSupplyDepot/OrbitalCommand=
PointDefenseDrone/Raven=
Predator/Factory=
Raise/SupplyDepotLowered=
RallySCV=
Raven/Starport=
RavenRepairDrone/Raven=
RavenRepairDroneHeal/RavenRepairDrone=
RavenResearchEnhancedMunitions/StarportTechLab=
RavenScramblerMissile/Raven=
RavenShredderMissile/Raven=
Reactor/Barracks=
Reactor/BarracksFlying=
Reactor/Factory=
Reactor/FactoryFlying=
Reactor/Starport=
Reactor/StarportFlying=
Reaper/Barracks=
Refinery/SCV=
Research330mmBarrageCannon/FactoryTechLab=
Research330mmBarrageCannon/FactoryTechReactor=
ResearchBallisticRange/FusionCore=
ResearchBansheeCloak/StarportTechLab=
ResearchBansheeCloak/StarportTechReactor=
ResearchBarrelStabilizers/BarracksTechLab=
ResearchCycloneLockOnDamageUpgrade/FactoryTechLab=
ResearchCycloneLockOnDamageUpgrade/FactoryTechReactor=
ResearchCycloneRapidFireLaunchers/FactoryTechLab=
ResearchDrillClaws/FactoryTechLab=
ResearchEnhancedShockwaves/GhostAcademy=
ResearchFireSuppressionSystems/EngineeringBay=
ResearchGhostEnergyUpgrade/GhostAcademy=
ResearchHellbatHellArmor/FactoryTechLab=
ResearchHellbatHellArmor/FactoryTechReactor=
ResearchHiSecAutoTracking/EngineeringBay=
ResearchHighCapacityBarrels/FactoryTechLab=
ResearchHighCapacityBarrels/FactoryTechReactor=
ResearchHighCapacityFuelTanks/StarportTechLab=
ResearchImprovedSiegeMode/FactoryTechLab=
ResearchImprovedSiegeMode/FactoryTechReactor=
ResearchImprovedTurretAttackSpeed/EngineeringBay=
ResearchIncineratorGauntlets/BarracksTechLab=
ResearchIncineratorGauntlets/BarracksTechReactor=
ResearchJuggernautPlating/BarracksTechLab=
ResearchJuggernautPlating/BarracksTechReactor=
ResearchLockOnRangeUpgrade/FactoryTechLab=
ResearchLockOnRangeUpgrade/FactoryTechReactor=
ResearchMaelstromRounds/FactoryTechLab=
ResearchMaelstromRounds/FactoryTechReactor=
ResearchMarauderMagrailMunitions/BarracksTechLab=
ResearchMarauderMagrailMunitions/BarracksTechReactor=
ResearchMedivacCloakedHealBeam/StarportTechLab=
ResearchMedivacCloakedHealBeam/StarportTechReactor=
ResearchMultiLockWeaponsSystem/FactoryTechLab=
ResearchMultiLockWeaponsSystem/FactoryTechReactor=
ResearchNeosteelFrame/EngineeringBay=
ResearchPersonalCloaking/GhostAcademy=
ResearchPhobosClassWeaponsSystem/StarportTechLab=
ResearchPhobosClassWeaponsSystem/StarportTechReactor=
ResearchPiercingRockets/StarportTechLab=
ResearchPunisherGrenades/BarracksTechLab=
ResearchPunisherGrenades/BarracksTechReactor=
ResearchRapidReignitionSystem/FusionCore=
ResearchRavenEnergyUpgrade/StarportTechLab=
ResearchRavenInterferenceMatrix/StarportTechLab=
ResearchRegenerativeBioSteel/Armory=
ResearchRipwaveMissiles/StarportTechLab=
ResearchRipwaveMissiles/StarportTechReactor=
ResearchShieldWall/BarracksTechLab=
ResearchShieldWall/BarracksTechReactor=
ResearchShockwaveMissileBattery/StarportTechLab=
ResearchShockwaveMissileBattery/StarportTechReactor=
ResearchSmartServos/FactoryTechLab=
ResearchStabilizerMedpacks/BarracksTechLab=
ResearchStabilizerMedpacks/BarracksTechReactor=
ResearchSuperScience/StarportTechReactor=
ResearchTransformationServos/FactoryTechLab=
ResearchVehicleWeaponRange/Armory=
RogueGhostCloak/Spectre=
SCV=
Salvage/Bunker=
Salvage/KelMorianMissileTurret=
Salvage/MissileTurret=
Scan/OrbitalCommand=
SelfRepair/Thor=
SensorTower/SCV=
SetBunkerRallyPoint/Bunker=
SiegeMode=
SiegeTank/Factory=
Snipe/Ghost=
Spectre/Barracks=
SpectreNukeArm/GhostAcademy=
SpiderMine/Reaper=
Starport/SCV=
Stim=
StimFirebat/DevilDog=
StimFirebat/Firebat=
Stimpack/BarracksTechLab=
Stimpack/BarracksTechReactor=
StopPlanetaryFortress/PlanetaryFortress=
SupplyDepot/SCV=
SupplyDepotDrop/SCV=
SupplyDrop/OrbitalCommand=
TechLabBarracks/Barracks=
TechLabBarracks/BarracksFlying=
TechLabFactory/Factory=
TechLabStarport/Starport=
TechReactorAI/Barracks=
TechReactorAI/Factory=
TechReactorAI/Starport=
TerranBuild/SCV=
TerranBuildAdvanced/SCV=
TerranInfantryArmorLevel1/EngineeringBay=
TerranInfantryArmorVanadiumPlatingLevel1/EngineeringBay=
TerranInfantryArmorVanadiumPlatingLevel2/EngineeringBay=
TerranInfantryArmorVanadiumPlatingLevel3/EngineeringBay=
TerranInfantryWeaponsLevel1/EngineeringBay=
TerranInfantryWeaponsUltraCapacitorsLevel1/EngineeringBay=
TerranInfantryWeaponsUltraCapacitorsLevel2/EngineeringBay=
TerranInfantryWeaponsUltraCapacitorsLevel3/EngineeringBay=
TerranShipPlatingLevel1/Armory=
TerranShipWeaponsLevel1/Armory=
TerranVehicleAndShipPlatingLevel1/Armory=
TerranVehicleAndShipWeaponsLevel1/Armory=
TerranVehicleWeaponsLevel1/Armory=
Thor/Factory=
UpgradeBuildingArmorLevel1/EngineeringBay=
UpgradeToPlanetaryFortress/CommandCenter=
VespeneDrone/CommandCenter=
VespeneDrone/PlanetaryFortress=
VikingFighter/Starport=
WeaponsFree/Ghost=
WidowMine/Factory=
WidowMineBurrow/MutatorWidowMine=
WidowMineBurrow/WidowMine=
WidowMineUnburrow/WidowMine=
Wraith/Starport=
WraithCloakOff/Wraith=
WraithCloakOn/Wraith=
