[Settings]
AllowSetConflicts=1

[Hotkeys]
# Competitive ZERG race hotkeys for ladder/tournament play
# Based on current StarCraft 2 multiplayer meta

AmorphousArmorcloud/Infestor=
AutomatedExtractor/Drone=
Baneling/Zergling=
BanelingNest/Drone=
BioMechanicalHeal/HealingDrone=
BlindingCloud/Viper=
BroodLord/Corruptor=
BroodLord/MutaliskBroodlord=
BuildCreepTumor/Queen=
BuildCreepTumorPropagate/CreepTumorBurrowed=
BurrowDown=
BurrowUp=
CancelMutateMorph=
CancelUpgradeMorph=
CausticSpray/Corruptor=
Contaminate/Overseer=
CorruptionAbility/Corruptor=
Corruptor/Larva=
CreepTumor/Queen=
DeepTunnel/Queen=
DisableBuildingAttack/Baneling=
DisablingCloud/Viper=
Drone/Larva=
EnableBuildingAttack/Baneling=
EvolutionChamber/Drone=
EvolveAdaptivePlating/RoachWarren=
EvolveAmorphousArmorcloud/InfestationPit=
EvolveAnabolicSynthesis2/UltraliskCavern=
EvolveAncillaryCarapace/HydraliskDen=
EvolveBanelingCorrosiveBile/BanelingNest=
EvolveBanelingHeal/BanelingNest=
EvolveBanelingRupture/BanelingNest=
EvolveBileLauncherBombardmentCooldown/SpawningPool=
EvolveBileLauncherIncreasedRange/SpawningPool=
EvolveCentrificalHooks/BanelingNest=
EvolveChitinousPlating/UltraliskCavern=
EvolveCorrosiveBileDamageIncrease/RoachWarren=
EvolveCorrosiveBileRadiusIncrease/RoachWarren=
EvolveFrenzy/HydraliskDen=
EvolveGlialRegeneration/RoachWarren=
EvolveGroovedSpines/HydraliskDen=
EvolveHardenedCarapace/SpawningPool=
EvolveHatcheryDoubleQueue/EvolutionChamber=
EvolveHydriodicBile/RoachWarren=
EvolveInfestorEnergyUpgrade/InfestationPit=
EvolveMuscularAugments/HydraliskDen=
EvolveMutaliskRapidRegeneration/GreaterSpire=
EvolveMutaliskRapidRegeneration/Spire=
EvolveSeveringGlave/GreaterSpire=
EvolveSeveringGlave/Spire=
EvolveSunderingGlave/Spire=
EvolveTissueAssimilation/UltraliskCavern=
EvolveToLeviathan/Mutalisk=
EvolveToLeviathan/Viper=
EvolveTunnelingClaws/RoachWarren=
EvolveViperImprovedCastRange/InfestationPit=
EvolveZerglingArmorShred/SpawningPool=
Explode/Baneling=
Explode/BanelingBurrowed=
Extractor/Drone=
FaceEmbrace/Viper=
FungalGrowth/Infestor=
FungalGrowth/InfestorBurrowed=
GenerateCreep/Overlord=
GenerateCreep/OverlordTransport=
GreaterSpire/Spire=
GreaterSpireBroodlord/Spire=
Hatchery/Drone=
Hive/Lair=
Hydralisk/Larva=
HydraliskDen/Drone=
HydraliskFrenzy/Hydralisk=
HydraliskFrenzy/HydraliskImpaler=
Impaler/HydraliskImpaler=
ImpalerBurrowDown=
ImpalerBurrowUp=
InfestationPit/Drone=
InfestedTerrans/Infestor=
InfestedTerrans/InfestorBurrowed=
Infestor/Larva=
InfestorConsumption/Infestor=
Lair/Hatchery=
LocustFlyingLaunch/SwarmHostSplitABurrowed=
LocustFlyingLaunch/SwarmHostSplitARooted=
LocustLaunch/SwarmHost=
LocustLaunch/SwarmHostBurrowed=
LocustLaunch/SwarmHostRooted=
LocustLaunchCreeper/SwarmHostSplitBBurrowed=
LocustLaunchCreeper/SwarmHostSplitBRooted=
LocustMPFlyingSwoop/LocustMPFlying=
MorphMorphalisk/Queen=
MorphToOverseer/Overlord=
MorphToOverseer/OverlordTransport=
MorphtoOverlordTransport/Overlord=
MorphtoOverseerNormal/Overseer=
MorphtoOverseerSiege/Overseer=
MorphtoRoach/Larva=
MuscularAugments/HydraliskDen=
Mutalisk/Larva=
NeuralParasite/Infestor=
NeuralParasite/InfestorBurrowed=
NydusNetwork/Drone=
Overlord/Larva=
ParasiticBomb/Viper=
Queen=
QueenBurstHeal/Queen=
Ravager/Roach=
Ravager/RoachCorpser=
Ravager/RoachVile=
RavagerCorrosiveBile/Ravager=
ResearchBurrow=
ResearchNeuralParasite/InfestationPit=
RespawnZergling/Hatchery=
RespawnZergling/Hive=
RespawnZergling/Lair=
Roach/Larva=
RoachWarren/Drone=
SpawnChangeling/Overseer=
SpawningPool/Drone=
SpineCrawler/Drone=
SpineCrawlerRoot/SpineCrawlerUprooted=
SpineCrawlerUproot/SpineCrawler=
SpineCrawlerUproot/SpineCrawlerUprooted=
Spire/Drone=
SporeCrawler/Drone=
SporeCrawlerRoot/SporeCrawlerUprooted=
SporeCrawlerUproot/SporeCrawler=
SporeCrawlerUproot/SporeCrawlerUprooted=
StopGenerateCreep/Overlord=
SummonNydusWorm/NydusNetwork=
SwarmHostBurrowDown=
SwarmHostBurrowUp=
SwarmHostMP/Larva=
SwarmHostRoot=
SwarmHostRootBurrow=
SwarmHostUproot=
SwarmHostUprootUnburrow=
SwarmQueenParasiticInvasion/HugeSwarmQueen=
SwarmQueenParasiticInvasion/LargeSwarmQueen=
SwarmQueenParasiticInvasion/SwarmQueen=
SwarmQueenRaptor/HugeSwarmQueen=
SwarmQueenRaptor/LargeSwarmQueen=
SwarmQueenRoach/HugeSwarmQueen=
SwarmQueenSwarmling/HugeSwarmQueen=
SwarmQueenSwarmling/LargeSwarmQueen=
SwarmQueenZergling/HugeSwarmQueen=
SwarmQueenZergling/SwarmQueen=
Transfusion/EvolutionChamber=
Transfusion/Queen=
Ultralisk/Larva=
UltraliskCavern/Drone=
Viper/Larva=
Viper/MutaliskViper=
ViperConsume/Viper=
ViperConsumption/Viper=
ZergBuild/Drone=
ZergBuildAdvanced/Drone=
Zergling/Larva=
hydraliskspeed/HydraliskDen=
zerggroundarmor1/EvolutionChamber=
zerglingattackspeed/SpawningPool=
zerglingmovementspeed/SpawningPool=
zergmeleeweapons1/EvolutionChamber=
zergmissileweapons1/EvolutionChamber=
